
section {
    display: flex;
    justify-content: center;
    background-color: darkorange;
    
}

img {
    height: 70px;
    width: 150px;
    justify-content: center;
    align-items: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
}
textarea{
    max-width: 200px;
    max-height: 200px;
}
button {
    background-color: yellow;
    border-radius: 10px;
    height: 30px;
    font-size: large;

}
